.wrapper{
    min-width: 100px;
    padding: 7px 16px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
}

.primary{
    background-color: var(--primary-color);
    color: #fff;

    &:hover{
        background-color: var(--primary-color-hover);
    }
}

.outline{
    border-color: var(--primary-color);
    color: var(--primary-color);

    &:hover{
        background: rgba(243, 91, 111, 0.1);
    }
}
// Button Sizes

.small{
    min-width: 88px;
    padding: 4px 16px;
    font-size: 1.4rem;
}