.wrapper{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    font-family: system-ui;

    &:hover{
        background-color: rgba(0, 0, 0, 0.05);
    }

    .avatar{
        padding: 0 8px;
        border-radius: 50%;
        width: 54px;
        object-fit: cover;
    }
    .info{
        padding: 0 5px;

        .user{
            font-weight: 700;
            color: #444;

            .check{
                color: rgb(36, 196, 218);
                margin-left: 10px;
            }
        }

        .name{
            color: #999;
            font-size: 14px;
        }

    }
}