.wrapper{
    width: 100%;
    height: var(--default-height-header);
    box-shadow:  0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 1150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}